* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body{
  /* background-color: #bfdbce; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.background{
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: #bfdbce;
  top: 0;
  left: 0;
  z-index: -100;
}

.background:after{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  content: '';
  background: inherit;
  transform-origin: top right;
  transform: skewY(-4deg);
}


.div-hg{
  /* background: url("bg_1.jpg") no-repeat; */
  /* background-size: cover; */
  /* background-position-y: 80%; */
  width: 100%;
  height: 100%;
  display: flex;
  /* border-right: 10px solid red; */
  
  background-color:rgb(187, 211, 226);
}

.diagonal-line{
  width: 10px;
  height: 100%;  
  display: flex;
  background-color:rgb(126, 165, 140);

}

h1 {
  display: flex;
  font-family: fantasy;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(18, 18, 18);
  text-align: center; 
  padding: 20px; 
}


.customer-tag{
  background-color: white;
}


input[type=text], select {
  outline: none;
  border: none;
  padding: 5px 15px;
  width: 100%;
  /* width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; */
}

.begin-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-field{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 200ms box-shadow ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
  background-color: white;

}

.main-selection button{
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    /* background: #bde9eb; */
    width: 100%;
    border: 0;
    padding: 15px;
    /* color: #FFFFFF; */
    font-size: 14px;
    cursor: pointer;
}

.h_line {
  border-bottom: 6px solid rgb(80, 80, 78);
  width: 100%;
  margin: 0 0 10px 0;
}


.main {
    border: 8px solid #dddddd;
    border-radius: 24px; 
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 400px;
    margin:auto;
  }

#main-container{
  display: none;
  /* display: block; */

}

.sendbutton {
  margin-top: 10px;
}

.main-selection {
  border-radius: 10px;
  width: 900px;
  height: 450px;
  background-color: rgb(157, 144, 144);
  display: flex;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  /* border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  background-color: white;
  border: 8px solid #dddddd;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 200px auto 100px; */

}

.form-section{
  width: 100%;
  height: 100%;
  background-color: rgb(117, 167, 79);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0px;
  box-sizing: border-box;
}

.form-section form {
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
}



/* body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.message-container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 400px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.customer-error,
.message-left,
.message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
  text-align: left;
  line-height: 1.6;
}

.message-left {
  border-radius: 20px 20px 20px 0px;
  align-self: flex-start;
  background-color: #fff;
  box-shadow: -2px 2px 4px #dcdcdc;
}

.customer-error,
.message-right {
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
  background-color: #2d2d2d;
  box-shadow: 2px 2px 4px #dcdcdc;
  color: #f6f6f6;
}

.message-left > p > span,
.message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
}

.message-form {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  

.message-input {
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #fff;
} 

.v-divider {
    height: 48px;
    width: 2px;
    background-color: #f6f6f6;
}

.send-button {
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}