/* This file containt all css-styling for the refund request in human operator sides */

*{
    margin:0;
    padding:0;
    
}
.section {
    width: 80%;
}

.main {
    overflow: hidden;
    width: 100%;
    padding: 1em;
}
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    margin: 0 auto; 
    width: 80%;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}
label {
    display: block;
    margin-top: 1em;
}
legend{
    font-size: 2em;
    padding: 0 .25em;
    color: #999;
}

input{
    padding: .5em;
    border:solid 1px #999
}
input[type="text"]{
    width: 15em;
}
textarea{
    min-height: 8em;
    min-width: 50%;
    padding: .5em;
    border: solid 1px #999
}
fieldset{
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
}
input[type="submit"]{
    margin-top: 1em;
    padding: .5em 1em;
    border-radius: 6px;
    background-color: black;
    color: #fff;
    font-size: .8em;
}

.refund_status,
.item_list{
    border: 2px solid red;
    padding: 50px;
    border-radius: 25px;
    width: 80%;
}
.show{
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
    width: 80%;
}

.refund_ticket,
.item{
    font-size: 2em;
    text-align: left;
}